.DS_Store
__pycache__/
.pytest_cache
package-lock.json
yarn.lock
node_modules/
.vscode/
.idea/
.pynb_checkpoints
*.iml
*.lock

yarn-error.log
target/
cmake-build-debug
.ipynb_checkpoints/
web-ext-artifacts